- hosts: web
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Check if Node.js is installed
      command: node -v
      register: node_check
      ignore_errors: yes

    - name: Install Node.js and npm (only if missing)
      apt:
        name:
          - nodejs
          - npm
        state: present
      when: node_check.failed

    - name: Check if Nginx is installed
      command: nginx -v
      register: nginx_check
      ignore_errors: yes

    - name: Install Nginx (only if missing)
      apt:
        name: nginx
        state: present
      when: nginx_check.failed
